* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin: 0.5rem 0;
}

hr {
  margin: 1rem 0;
}

.banner {
  max-width: 1100px;
  height: 45vw;
  min-height: 250px;
  max-height: 550px;
  background-image: url('/images/big_banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

/* 홈 */
.introduction {
  display: flex;
}

.introduction .logo {
  border-right: 1px solid darkgray;
  padding: 0 1rem;
}

.introduction .logo img {
  max-width: 200px;
}

/* 홈 - 강사 소개*/
.instructor .title {
  display: flex;
  justify-content: space-between;
}

/* 헤더 */
header {
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

header > .header-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

header .menu {
  display: flex;
  gap: 20px;
  padding-right: 2em;
}

header .menu a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

header .menu a:hover {
  color: #f39c12;
}

/* 이미지 슬라이더 */
.slider {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.slider .img {
  width: 100%;
  height: 750px;
  display: block;
  background-image: url('https://placehode.co/500x750');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.slider .controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
}
.slider .controls button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.slider .dots button {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}
.slider .dots button.active {
  background-color: #f39c12;
}
.slider .dots button:hover {
  background-color: #f39c12;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.content {
  padding: 20px;
}

form {
  margin-top: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
